*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --background-pic: url('../images/background-milky-way.jpg');
  --background-color: rgba(10, 15, 48, 0.967);
  --main-font: bold 38px/1.5 'Lora', serif;
  --main-color: #b8b8c1;
}

body {
  background-image: var(--background-pic);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  font: var(--main-font);
  color: var(--main-color);
}

.container {
  width: 1500px;
  margin: 0 auto;
  border-radius: 35px;
  background-color: rgba(0, 7, 53, 0.495);
  /* -webkit-box-shadow: #d5d5dc0e 15px 15px 5px; */
  text-shadow: rgb(1, 3, 11) 1px 5px 25px;
  box-shadow: 0 35px 100px 35px rgba(2, 14, 58, 0.735);
}

.major {
  box-sizing: content-box;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}


header {
  padding-top: 30px;
  padding-right: 13px;
  padding-left: 30px;
  /* outline: 1px ridge rgba(38, 15, 152, 0); */
  border-radius: 3%;
  box-align: center;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0;
}

.avapic {
  display: flex;
  width: 360px;
  height: auto;
  padding-right: 40px;
  border-radius: 50%;
  align-content: center;
}
.contacts {
  margin-top: 85px;
  margin-bottom: 0;
}
.contacts-pics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 40%;
  margin-top: 0;
}

ul {
  list-style: none;
  padding-left: 25px;
}

.left-part {
  padding-top: 20px;
  padding-left: 25px;
}

/* @media screen and (min-width: 320px) and (max-width: 767px) {
  .left-part{
    display: none;
  }
} */

.right-part {
  width: 70%;
  padding: 20px 15px 0 45px;
}
h1 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 0;
  font: 2.5em 'Crimson Text', serif;
  font-variant: small-caps;
}
h2 {
  display: flex;
  margin: 0;
  font: 1.4em 'Crimson Text', serif;
  font-variant: small-caps;
}
h3 {
  text-align: center;
  text-shadow: rgb(122, 10, 177) 1px 0 35px;
  font-size: 110%;
  margin-top: 50px;
}
.goal {
  margin-top: 95px;
}
.goal-text {
  text-indent: 0;
}
.function-pic {
  display: inline-block;
  width: 395px;
  height: auto;
}

.code-topic {
  font-size: 1.2em;
  display: inline;
  padding-top: 50px;
  padding-left: 23%;
  font-variant: small-caps;
  text-shadow: rgb(166, 8, 181) 1px 0 25px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  padding-top: 50px;
  font-size: 45px;
}
.footer-links:hover {
  text-shadow: rgb(122, 10, 177) 1px 0 35px;
}
.rspic {
  width: 100%;
  border-radius: 10%;
  background-color: #8181ee35;
}

.rspic:hover {
  text-shadow: rgb(122, 10, 177) 1px 0 35px;
}
.background-pic-text {
  font-variant: small-caps;
  font-size: 35px;
  text-align: center;
  line-height: 1;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 15px;
}

.links {
  text-decoration: none;
  color: rgb(152, 144, 144);
  font: 1em 'Crimson Text', serif;
  font-variant: small-caps;
}

.code {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  text-shadow: rgb(112, 30, 226) 1px 0 25px;
  line-height: 1;
}
